/* -----------------
    Base Styles
-------------------- */

* {
  box-sizing: border-box;
}

body {
  background: #192231;
  font-family: Blinker;
  font-size: 1.2em;
  line-height: 2em;
  margin: 0;
}

.main-wrapper {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "social"
  "projects"
  "about"
  "skills";
  min-height: 100vh;
}

.social-container {
  grid-area: social;
}

.projects {
  grid-area: projects;
}

.col-grid-1 {
  grid-area: about;
}

.col-grid-2 {
  grid-area: skills;
}

/* -----------------
    Layout Styles
-------------------- */

.main-wrapper {
  background: #dbdbdb;
}

.main-wrapper p {
  text-align: justify;
  overflow: auto;
}

main li {
  font-size: 1.4em;
  list-style-type: none;
}


.name-banner {
  background: url('img/websiteNameLogo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 260px;
}

.social-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  max-width: 275px;
  padding-left: 0;
}

.social-container h1 {
  color: white;
  font-size: 2.8em;
  margin-bottom: 0;
}

.social-container h1,
.social-container h2 {
  text-align: center;
}

.social-container img {
  width: 40px;
}

.social-container img:hover {
  background-color: #E6DDCE;
  border-radius: 5px;
  filter: invert(90%);
  transform: scale(1.2);
  transition: .2s;
}

.edge-margins {
  margin: 0 15px;
}

footer {
  background: #192231;
  box-shadow: -1px 0 2px black;
  color: #fff;
  text-align: center;
}

/* -----------------
    Media Queries
-------------------- */

@media (min-width: 768px) {

  .main-wrapper {
    box-shadow: 0 0 1px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "social projects"
    "about skills";
    margin: 0 auto;
    width: 85%;
  }

  .social-container ul {
    width: 100%;
  }

  .social-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 125px;
    justify-content: center;
  }

.col {
  padding: 0 15px;
}

.about-text {
  font-size: 1.4em;
}

}


/* -----------------
    JavaScript CSS
-------------------- */

.active {
  display: block;
}
