/* -----------------
    Base Styles
-------------------- */

* {
  box-sizing: border-box;
}

body {
  /* background: #192231; */
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

.social-container ul
 {
  display: flex;
}



/* -----------------
    Layout Styles
-------------------- */

main {
  background: #eeb6b7;
}

main li {
  font-size: 1.4em;
  list-style-type: none;
}

.main-wrapper p {
  text-align: justify;
  overflow: auto;
}

.name-banner {
  height: 260px;
  background: url('img/websiteNameLogo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.social-container ul {
  margin: 0 40px;
  max-width: 275px;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  padding-left: 0;
}

.social-container h1 {
  color: white;
  font-size: 2.8em;
  margin-bottom: 0;
}

.social-container h1,
.social-container h2 {
  text-align: center;
}

.social-container img {
  width: 40px;
}

.social-container h2:first-of-type {
  margin-bottom: 0;
  padding-top: 15px;
}

.social-container h2 {
  margin-top: 0;
}

.social-container img {
  width: 40px;
  filter: invert(100%);
}

.social-container img:hover {
  filter: invert(0%);
  background-color: #985e6d;
  border-radius: 5px;
  transform: scale(1.2);
  transition: .2s;
}

.edge-margins {
  margin: 0 10px;
}

footer {
  background: #985e6d;
  color: #eeb6b7;
  box-shadow: -1px 0 2px black;
  text-align: center;
}

/* -----------------
    Media Queries
-------------------- */

@media (min-width: 768px) {

  main {
    background: #192231;
  }

  .social-container ul {
    flex-direction: row;
    justify-content: space-around;
    /* padding-left: 0; */
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
  }

  .main-wrapper {
    background: #eeb6b7;
    box-shadow: 0 0 1px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 0 15px 30px 15px;
    width: 85%;
  }

  .container {
    display: flex;
    justify-content: space-evenly;
    /* margin: 0 50px; */
    height: 400px;
  }

  .name-banner {
    height: 260px;
    background: url('img/websiteNameLogo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .social-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    /* margin: 0 0 1.5em 1.5em; */
    min-width: 125px;
    justify-content: center;
  }

  .projects {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  .projects h2 {
    margin-top: 2.5em;
  }

  .col-container {
    display: flex;
  }

.col {
  flex: 1;
  padding: 0 15px;
}

}


/* -----------------
    JavaScript CSS
-------------------- */

.active {
  display: block;
}
