/* #c8e4d6
#bccdd5
#f2f5f8 */

/* -----------------
    Base Styles
-------------------- */

* {
  box-sizing: border-box;
}

body {
  background: #c8e4d6;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* .site-wrapper, */
.header-container,
.social-container ul,
.nav-container ul {
  display: flex;
  flex-direction: column;
}



/* -----------------
    Layout Styles
-------------------- */

header {
  /* background: #262626; */
  box-shadow: 0 0 2px;
  font-family: 'Titillium Web', sans-serif;
}


header li,
main li {
  color: #9e7350;
  font-size: 1.4em;
  list-style-type: none;
}

.brain-logo {
  width: 0;
  visibility: hidden;
}

.nav-container ul {
  padding-left: 0;
  align-items: center;
}

.main-wrapper p {
  text-align: justify;
}

.social-container {
  background: #008080;
  border-radius: 5px;
  box-shadow: 0 0 2px;
  min-width: 125px;
  padding: 5px;
}

.social-container ul {
  flex-direction: row;
  justify-content: space-around;
  padding-left: 0;
}

.social-container h2 {
  text-align: center;
}

.social-container h2:first-of-type {
  margin-bottom: 0;
  padding-top: 15px;
}

.social-container h2 {
  margin-top: 0;
}

.social-container img {
  width: 30px;
}

.social-container img:hover {
  filter: invert(100%);
}

.main-wrapper {
  background: #bccdd5;
  border-radius: 5px;
  box-shadow: 0 0 1px;
  margin: 10px auto;
  padding: 15px 15px 30px 15px;
  width: 85%;
}

footer {
  background: #008080;
  box-shadow: -1px 0 2px black;
  text-align: center;
}

/* -----------------
    Media Queries
-------------------- */

@media (min-width: 360px) {
  .social-container img {
    width: 40px;
  }
}

@media (min-width: 360px) {
  .heading {
    font-size: 2em;
  }
}

@media (min-width:400px) {

  .brain-logo {
    /* filter: invert(100%); */
    width: 50px;
    visibility: visible;
  }

  .nav-container ul{
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 5px;
  }

  .nav-container li {
    margin-left: 15px;
  }

  .nav-container li:first-of-type {
    flex: 1;
  }

  .nav-container li:last-child {
    margin-right: 15px;
  }

  .social-container ul {
    justify-content: center;
    margin-top: 0;
  }

  .social-container li {
    margin-left: 15px;
  }
}

@media (min-width: 768px) {

  .col-container {
    display: flex;
  }

.col {
  flex: 1;
  padding: 0 15px;
}

}
